<%- include('partials/header.ejs') %>

<div class="container col-md-8 mt-5">
    <div class="row">
        <h2 class="text-primary">Contáctanos</h2>
        <p>Contenido​: ​¿Tenés algo para contarnos? Nos encanta escuchar a nuestros clientes. Si deseas contactarnos podés escribirnos al siguiente email: dhmovies@digitalhouse.com o en las redes sociales. Envianos tu consulta, sugerencia o reclamo y será respondido a la brevedad posible. Recordá que también podes consultar la sección de Preguntas Frecuentes para obtener respuestas inmediatas a los problemas más comunes.</p>
    </div>
</div>

</body>
</html>