<%- include('partials/header.ejs') %>

<div class="container col-md-8 mt-5">
    <div class="row">
        <h2 class="text-success">Bienvenidos a DH Movies</h2>
        <div class="container mt-4">
            <h4>Total de peliculas: <%= movies.total_movies %></h4>
            <div class="mt-4">
                <% moviesAlfa.forEach(function (movie) { %>
                <div class="card my-3">
                    <div class="card-header">
                        <h5><%= movie %></h5>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

</body>
</html>