<%- include('partials/header.ejs') %>

<div class="container col-md-8 mt-5">
    <div class="row">
        <h2 class="text-success">Mas votadas</h2>
        <div class="container mt-4">
            <h4 class="mb-3">Total de peliculas: <%= moviesTotal %></h4>
            <h4>Rating promedio: <%= rounded %></h4>
            <div class="mt-4">
                
            </div>
        </div>
    </div>
</div>